@model IEnumerable<FrontEnd.Models.RazasViewModel>

@{
    ViewData["Title"] = "Registro de Razas";
    <link rel="stylesheet" href="~/css/HomeSections/SectionRazas.css" asp-append-version="true" />
}

<section class="section-razas container mt-5">
    <div class="section-header d-flex justify-content-between align-items-center mb-4">
        <h1 class="section-titulo text-primary">
            <i class="fa fa-paw"></i> Registro de Razas
        </h1>
        <a href="@Url.Action("Create")" class="btn btn-primary btn-create">
            <i class="fa fa-plus"></i> Agregar Nueva Raza
        </a>
    </div>

    <div class="section-tabla table-responsive">
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CodigoRaza)</th>
                    <th>@Html.DisplayNameFor(model => model.NombreRaza)</th>
                    <th>@Html.DisplayNameFor(model => model.TipoMascotaID)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CodigoRaza)</td>
                        <td>@Html.DisplayFor(modelItem => item.NombreRaza)</td>
                        <td>@Html.DisplayFor(modelItem => item.TipoMascotaID)</td>
                        <td>
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Editar", "Edit", new { id = item.CodigoRaza }, new { @class = "btn btn-warning btn-sm" })
                                @Html.ActionLink("Detalles", "Details", new { id = item.CodigoRaza }, new { @class = "btn btn-info btn-sm" })
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.CodigoRaza }, new { @class = "btn btn-danger btn-sm" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
