@model IEnumerable<FrontEnd.Models.PadecimientosViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPadecimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePadecimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MascotaID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPadecimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePadecimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MascotaID)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.CodigoPadecimiento  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.CodigoPadecimiento  }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.CodigoPadecimiento  })
            </td>
        </tr>
}
    </tbody>
</table>
