@model IEnumerable<FrontEnd.Models.MedicamentoViewModel>

@{
    ViewData["Title"] = "Registro de Medicamentos";
}

<section class="section-medicamentos container mt-5 vh-100">
    <div class="section-header d-flex justify-content-between align-items-center mb-4">
        <h1 class="section-titulo text-primary">
            <i class="fa fa-pills"></i> Registro de Medicamentos
        </h1>
        <a href="@Url.Action("Create")" class="btn btn-success btn-create">
            <i class="fa fa-plus"></i> Agregar Nuevo Medicamento
        </a>
    </div>

    <div class="section-tabla table-responsive">
        <table id="indexTable" class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CodigoMedicamento)</th>
                    <th>@Html.DisplayNameFor(model => model.NombreMedicamento)</th>
                    <th>@Html.DisplayNameFor(model => model.Dosis)</th>
                    <th>@Html.DisplayNameFor(model => model.Cita)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CodigoMedicamento)</td>
                        <td>@Html.DisplayFor(modelItem => item.NombreMedicamento)</td>
                        <td>@Html.DisplayFor(modelItem => item.Dosis)</td>
                        <td>
                            @{
                                var fechaHora = item.Citas.FirstOrDefault(m => m.CitaId == item.CitaId)?.FechaHora;
                            }@fechaHora
                        </td>
                        <td class="text-center">
                            <div class="align-middle">
                                @Html.ActionLink("Editar", "Edit", new { id = item.CodigoMedicamento }, new { @class = "btn btn-warning text-white" })
                                @Html.ActionLink("Detalles", "Details", new { id = item.CodigoMedicamento }, new { @class = "btn btn-primary" })
                                <form action="@Url.Action("Delete", "Medicamento")" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="CodigoMedicamento" value="@item.CodigoMedicamento" />
                                    <button type="submit" class="delete-button btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var deleteButtons = document.querySelectorAll('.delete-button');
        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                var form = button.closest('form');
                var url = form.action;

                Swal.fire({
                    title: 'Confirmación de Eliminación de Medicamento',
                    text: "¿Está seguro de que desea eliminar esta medicamento?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            });
        });
    });

    $(document).ready(function () {
        $('#indexTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
            },
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": false,
            "autoWidth": false
        });
    });

</script>
